/* style.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background: #f7f9fc;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #36689a;
  color: #f7f4f4;
  padding: 1.5rem;
  text-align: center;
}

header a {
  color: #1abc9c;
  text-decoration: none;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-top: 20px;
  border-radius: 10px;
}

section {
  margin-bottom: 2rem;
}

h1, h2, h3 {
  color: #172b3e;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #ecf0f1;
  color: #888;
  margin-top: 20px;
}
